
// flex to the center
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// flex to the end
@mixin flexEnd() {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

// flex around
@mixin flexAround() {
    display: flex;
    justify-content: space-around;
    align-items: center;
}